<footer class="editContent">
    <div class="container">
        <div class="row footer-top">
            <div class="col-lg-4 footer-grid_section_w3layouts">
                <h2 class="logo-2 mb-lg-4 mb-3">
                    <a href="index.html" class="editContent">
                                <span class="fa" aria-hidden="true">
                                    Django Games
                                </span>
                    </a>
                </h2>
                <p class="editContent">
                    Добро пожаловать в мир нашего инновационого игрового поиска - мощного
                    инструмента, который может вам найти именно те игры, которые заслуживаете!
                    Наш поиск - это путешествие по виртуальным мирам, где каждый запрос превращается
                    в ключ к увлекательным приключениям.
                </p>
            </div>

        </div>
    </div>
</footer>
<!-- move top icon -->
<a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true"></span></a>